.add--group-container {
    margin-bottom: 10px;

    button {
        padding: 5px 10px;
        background: rgb(6, 143, 40);
        border: none;
        color: #fff;
        cursor: pointer;
    }
}

.group {
    border: 1px solid rgb(180, 178, 178);
    margin-bottom: 10px;
    padding: 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remove__btn {
    border: none;
    color: #fff;
    background: red;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
}

.edit__btn {
    border: none;
    color: #fff;
    background: rgb(218, 161, 6);
    padding: 5px 10px;
    cursor: pointer;
}