.add--group-container {
    margin-bottom: 10px;

    button {
        padding: 5px 10px;
        background: rgb(6, 143, 40);
        border: none;
        color: #fff;
        cursor: pointer;
    }
}

.group {
    border: 1px solid rgb(180, 178, 178);
    margin-bottom: 10px;
    padding: 15px;
    cursor: pointer;
}